@font-face {
  font-family: "General Sans";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/GeneralSans-Medium.woff") format("woff"),
    url("/fonts/GeneralSans-Medium.woff2") format("woff2");
}

@font-face {
  font-family: "General Sans";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url("/fonts/GeneralSans-MediumItalic.woff") format("woff"),
    url("/fonts/GeneralSans-MediumItalic.woff2") format("woff2");
}

@font-face {
  font-family: "General Sans";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("/fonts/GeneralSans-Semibold.woff") format("woff"),
    url("/fonts/GeneralSans-Semibold.woff2") format("woff2");
}

@font-face {
  font-family: "General Sans";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url("/fonts/GeneralSans-SemiboldItalic.woff") format("woff"),
    url("/fonts/GeneralSans-SemiboldItalic.woff2") format("woff2");
}
